// Breakpoints
$small-mobile-breakpoint: 480px;

// Colors
$dsek-brown: #754022;
$dsek-cerise: #e5398d;
$dsek-yellow: #f7e623;
$dsek-green: #70bd44;
$dsek-blue: #20407c;

// Tweak background and foreground colors when possible.
$background-color-1: #111;
$background-color-2: #222;
$background-color-3: #333;
$background-color-4: #444;

$foreground-color-1: #aaa;
$foreground-color-2: #ddd;
$foreground-color-3: #f4f4f4;
$foreground-color-4: #fff;

// $white: #fff;
// $very-light-gray: #f4f4f4;
// $light-gray: #ddd;
// $gray: #999;
// $dark-gray: #555;
// $very-dark-gray: #333;
// $black: #000;

$link-color: lighten($dsek-blue, 30%); //#428bca;
$link-color-visited: lighten($dsek-blue, 15%);
$red: red;

$dsek-colors: $dsek-brown, $dsek-cerise, $dsek-yellow, $dsek-green, $dsek-blue;

// Common measurements
$base-padding: 12px;

$base-animation-time: 0.3s;

// Fonts
$dsek-font-order: 'Asap', Arial, sans-serif;

// Shadows
$box-shadow-default: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-raised: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
