@import 'vars';

.controls {
  display: flex;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: $base-padding;
  align-items: baseline;
}

.booking {
  fill: $dsek-blue;
  transition: fill 0.2s ease;
  cursor: pointer;

  &:hover {
    fill: $dsek-green;
  }
  rect {
    stroke: $background-color-2;
  }
}

.restrictedTimeslot {
  opacity: 0.25;
}

.timeIndicators {
  text {
    fill: rgba($foreground-color-1, 0.5);
  }
  line {
    stroke: rgba($foreground-color-1, 0.2);
    pointer-events: none;
  }
}

.nowMarker {
  stroke: $red;
  stroke-width: 2px;
  pointer-events: none;
}
