@import 'vars';

// .items {
//   padding: $base-padding;
//   background: $very-light-gray;
//   width: 100%;
//   min-width: 200px;
//   outline: none;
//   appearance: none;
//   border: 1px solid $light-gray;
//   font-size: 1.25em;
//   margin-bottom: $base-padding;

//   &:focus {
//     border: 1px solid $dsek-blue;
//   }

//   > option {
//     padding: $base-padding;
//     background: $very-light-gray;
//   }
// }

// from create booking form.
.description {
  width: 100%;
  resize: vertical;
  min-height: 4rem;
}

.itemDescription {
  white-space: pre-line;
}

.editForm {
  h3 {
    margin: 0.5 * $base-padding 0 0 0;
    font-weight: normal;
    font-size: 1.25rem;
  }
}
