@import 'vars';
@import 'normalize';
@import 'fonts';

body {
  font-family: $dsek-font-order;
  background: $background-color-1;
  color: $foreground-color-2;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color-visited;
  }
}

p {
  line-height: 1.4;
  color: $foreground-color-2;
  margin: $base-padding 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $foreground-color-3;
  font-weight: normal;
  margin-bottom: $base-padding;
  margin-top: 3 * $base-padding;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &:nth-child(1) {
    margin-top: 0;
  }
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

input,
textarea,
select {
  border: none;
  background-color: $background-color-3;
  color: $foreground-color-1;
  padding: $base-padding;
}

input[type='checkbox'] {
  width: 0.8em;
  height: 0.8em;
}
