.Label {
  display: block;
}

.inputWrapper {
  & input {
    padding: calc(var(--base-padding) / 2);
    width: 100%;
  }
}

.required {
  color: var(--red);
}

option {
  padding: calc(var(--base-padding) / 4);
  border: 1px solid var(--foreground-color-1);
}

option::selection {
  background-color: var(--dsek-blue);
  border: 1px dotted var(--foreground-color-1);
}
