.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.formBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.buttonWrapper {
    margin-top: 0.5rem;
}