
.page {
  margin: 2rem;
}
.page h1 {
  font-weight: 700;
}
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}
.column {
  min-width: 2rem;
}
.calendarPadding {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }
}