.controls {
  display: flex;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: var(--base-padding);
  align-items: baseline;
}

.Booking {
  fill: var(--dsek-blue);
  transition: fill 0.2s ease;
  cursor: pointer;

  &:hover {
    fill: var(--dsek-green);
  }
  & rect {
    stroke: var(--background-color-2);
  }
}

.restrictedTimeslot {
  opacity: 0.25;
}

.timeIndicators {
  & text {
    fill: rgb(170 170 170 / 0.5);
  }
  & line {
    stroke: rgb(170 170 170 / 0.2);
    pointer-events: none;
  }
}

.nowMarker {
  stroke: var(--red);
  stroke-width: 2px;
  pointer-events: none;
}
