.success {
  text-align: center;
  color: var(--dsek-green);
}

.error {
  text-align: center;
  color: var(--red);
}

.buttons {
  display: flex;
  justify-content: center;
}

.lockItemClass {
  height: 30rem;

  @media screen and (max-width: 480px) {
    height: unset;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 50%;
  margin: 0 auto;

  @media screen and (max-width: 480px) {
    height: unset;
    max-height: fit-content;
  }
}

.roomTitle {
  text-align: center;
  margin-top: 0.4em;
}

.batteryContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    padding-left: 4px;
    margin: 0 2px;
  }

  & svg {
    width: 1.3em;
    height: 1.3em;
    margin-left: 6px;
  }
}
