.darknessOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 39;
  background: rgb(17 17 17 / 0.9);
}

.modalWrapper {
  z-index: 40;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: var(--base-padding);
  display: flex;
  pointer-events: none;
}

.modal {
  background-color: rgb(34 34 34 / 0.9);
  margin: auto;

  max-width: 800px;
  min-width: 250px;
  max-height: 100%;
  min-height: 250px;

  backdrop-filter: blur(10px);

  display: grid;
  grid-template-rows: auto 1fr;
  pointer-events: initial;

  & > header {
    /* background: rgb(34 34 34 / 0.5); */
    border-bottom: 2px var(--foreground-color-1) solid;
    color: var(--foreground-color-1);
    display: flex;
    justify-content: space-between;

    & h2 {
      margin: var(--base-padding);
      height: calc(2 * var(--base-padding));
      line-height: 1;
      font-weight: normal;
      color: var(--foreground-color-1);
    }

    & svg {
      height: calc(2 * var(--base-padding));
      width: calc(2 * var(--base-padding));
      box-sizing: content-box;
      padding: var(--base-padding);
      cursor: pointer;
      color: var(--foreground-color-1);

      &:hover {
        color: var(--dsek-cerise);
      }
    }
  }

  & > div {
    overflow-y: auto;

    &:not(.NoPadding) {
      padding: var(--base-padding);
    }
  }
}

.confirmation {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: var(--base-padding);

  & > p {
    grid-column: 1 / 3;
  }
}
