.button {
  text-decoration: none;
  border: none;
  background-color: var(--background-color-3);
  color: var(--foreground-color-3);
  padding: var(--base-padding) calc(2 * var(--base-padding));
  margin-bottom: var(--base-padding);
  cursor: pointer;

  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--base-padding) / 2);

  & > svg {
    height: calc(1.5 * var(--base-padding));
    width: calc(1.5 * var(--base-padding));
  }

  &:not([disabled]):not([aria-disabled="true"]):hover {
    background-color: var(--dsek-blue);
  }

  &[disabled],
  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:enabled {
    cursor: pointer;

    &:hover {
      background-color: var(--dsek-blue);
    }
  }
  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px var(--dsek-blue);
  }
  &:visited {
    color: var(--foreground-color-3);
  }
}

.buttonGroup {
  display: grid;
  gap: var(--base-padding);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: var(--base-padding) 0;
  & .button {
    margin-bottom: 0;
  }
}

.iconButton {
  border: none;
  height: calc(8 * var(--base-padding));
  width: calc(8 * var(--base-padding));
  background-color: var(--background-color-3);
  color: var(--foreground-color-3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 calc(var(--base-padding) / 2);

  & > svg {
    height: calc(3 * var(--base-padding));
    width: calc(3 * var(--base-padding));
    margin-bottom: calc(var(--base-padding) / 2);
  }

  &:hover {
    background-color: var(--dsek-blue);
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px var(--dsek-blue);
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 30rem));
  grid-gap: var(--base-padding);
  padding: var(--base-padding);
  justify-content: center;
  z-index: 10;
  position: relative;

  @media screen and (max-width: 480px) {
    grid-gap: calc(var(--base-padding) / 4);
    padding: 0;
    background: var(--background-color-2);
    border-bottom: var(--background-color-3) calc(var(--base-padding) / 4) solid;
  }
}

.gridItem {
  background-color: rgb(34 34 34 / 0.95);
  padding: var(--base-padding);
  backdrop-filter: blur(5px);
}

.gridFullWidth {
  grid-column: 1 / -1;
}

.list {
  margin: 0;
  & li {
    display: flex;
    list-style: none;
    background-color: var(--background-color-3);
  }
}

.listItemColor {
  border-left: calc(var(--base-padding) / 2) solid;
}

.listText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--base-padding) / 2) var(--base-padding);

  & h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  & p {
    font-size: 0.9rem;
    margin: 0;
    color: var(--foreground-color-1);
  }
}

.listButtons {
  flex-grow: 0;
  display: flex;

  & .listButton {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    padding: var(--base-padding);
    height: calc(4 * var(--base-padding));
    color: var(--foreground-color-3);
    & svg {
      width: calc(2 * var(--base-padding));
      height: calc(2 * var(--base-padding));
    }

    &:hover {
      color: var(--dsek-cerise);
      cursor: pointer;
    }
    &:focus {
      outline: none;
      filter: drop-shadow(0 0 2px var(--dsek-blue));
    }
  }
}

/* TODO: use our variables */
.switchy {
  display: flex;
  flex-direction: row;

  & .slider {
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    border-radius: 15px;
    cursor: pointer;
  }

  & .blob {
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 15px gray;
    top: -2px;
  }

  & p {
    margin-left: 1%;
  }
}

.titleChooser {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: var(--base-padding);

  & > * {
    max-width: 30rem;
  }

  & h1 {
    margin: 0;
  }
  & .actions {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--base-padding);
  }
  & .selectContainer {
    position: relative;
    flex-grow: 1;
  }
  & select {
    /* padding: 0 calc(0.5 * var(--base-padding)); */
    height: 100%;
    width: 100%;
    background: var(--background-color-3);
    min-width: 200px;
    outline: none;
    border: 1px solid var(--background-color-4);
    font-size: 1.25em;
    min-height: calc(3 * var(--base-padding));
    color: var(--foreground-color-3);
    padding-left: var(--base-padding);

    &:focus {
      border: 1px solid var(--dsek-blue);
    }

    & > option,
    & > optgroup {
      padding: var(--base-padding);
      background: var(--background-color-3);
      color: var(--foreground-color-3);
    }
  }
  & .hint {
    user-select: none;
    color: var(--foreground-color-4);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: calc(1.5 * var(--base-padding));
    padding: var(--base-padding) calc(2 * var(--base-padding));
    background-color: var(--dsek-blue);
    box-shadow: var(--box-shadow-default);

    &::after {
      position: absolute;
      top: calc(-1.5 * var(--base-padding));
      right: calc(2 * var(--base-padding));
      content: "";
      border-left: var(--base-padding) solid transparent;
      border-right: var(--base-padding) solid transparent;
      border-bottom: calc(1.5 * var(--base-padding)) solid var(--dsek-blue);
    }
  }
}

.Ppattern {
  height: 100%;
  display: block;
  width: 100%;
}

.imageHeader {
  margin: calc(-1 * var(--base-padding));
  margin-bottom: var(--base-padding);
  position: relative;
  height: 12rem;

  & h2 {
    position: absolute;
    bottom: 0;
    margin: var(--base-padding);
    color: var(--foreground-color-4);
  }

  & .Image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
  }

  & .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 30%);
  }
}

.checklist {
  display: flex;
  flex-direction: column;
  gap: var(--base-padding);
  padding: var(--base-padding) calc(2 * var(--base-padding));
  background-color: var(--background-color-3);

  & label {
    & input {
      margin-right: calc(var(--base-padding) / 2);
    }
  }
}
