.currentMeetingContainer {
  grid-column: 1 / -1;
  background-color: transparent;
  display: grid;
  gap: var(--base-padding);
  grid-template-columns: 1fr 1fr;
}

.votePanelContainer {
  background-color: var(--background-color-2);
  grid-column: 1 / -1;
  padding: var(--base-padding);
}

.othersContainer {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-column: 1 / -1;
  gap: var(--base-padding);

  @media screen and (min-width: 996px) {
    --cols: 2;
  }
}

.othersContainer > * {
  background-color: var(--background-color-2);
  padding: var(--base-padding);
}
