.controlContainer {
  padding: calc(2 * var(--base-padding));
  width: 100%;
  max-width: 60rem;

  & select {
    color: var(--foreground-color-2);
    background: var(--background-color-2);
    border: 3px solid var(--background-color-3);
    padding: var(--base-padding);
    outline: none;
    min-width: 45%;
    max-width: 90%;

    & > option {
      padding: var(--base-padding);
      background: var(--background-color-3);
      color: var(--foreground-color-3);
    }

    &:first-of-type {
      border-bottom: none;
      border-radius: 12px 12px 0px 0px;
    }
    &:last-of-type:not(:first-of-type) {
      min-width: 30%;
      float: right;
      border-top: none;
      border-radius: 0px 0px 12px 12px;
    }
  }
  & > * {
    &:focus {
      outline-width: 0;
      box-shadow: 0 0 2px 1px var(--dsek-blue);
    }
  }
}

.fail {
  background: rgb(255 0 0 / 0.3);
}

.success {
  background: rgb(112 189 68 / 0.3);
}

.textField {
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  text-align: center;
  background: var(--background-color-2);
  line-height: 6rem;
  border-radius: 0px 12px;
  border: 3px solid var(--background-color-3);

  &:not(:focus) {
    background: rgb(255 0 0 / 0.3);
  }
}

.shiftDown {
  border-color: var(--red);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  padding: calc(2 * var(--base-padding));
  transition: background-color 0.3s ease;

  & h1 {
    margin: 0;
  }

  & > label {
    margin-bottom: var(--base-padding);
  }
}

.Feedback {
  height: 10rem;
  text-align: center;
  & svg {
    height: 4rem;
    width: 4rem;
  }
  & p {
    font-size: 1.5em;
  }
}

.qrRegistration {
  background-color: rgb(34 34 34 / 0.9);
  margin: auto;

  max-width: 800px;
  min-width: 250px;
  max-height: 100%;
  min-height: 150px;

  display: grid;
  grid-template-rows: auto 1fr;
  pointer-events: initial;

  & > video {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    padding: var(--base-padding);
  }

  & > header {
    /* background: rgb(34 34 34 / 0.5); */
    border-bottom: 2px var(--foreground-color-1) solid;
    color: var(--foreground-color-1);
    display: flex;
    justify-content: space-between;

    & h2 {
      margin: var(--base-padding);
      height: calc(2 * var(--base-padding));
      line-height: 1;
      font-weight: normal;
      color: var(--foreground-color-1);
    }

    & svg {
      height: calc(2 * var(--base-padding));
      width: calc(2 * var(--base-padding));
      box-sizing: content-box;
      padding: var(--base-padding);
      cursor: pointer;
      color: var(--foreground-color-1);

      &:hover {
        color: var(--dsek-cerise);
      }
    }
  }
}
