/* =Custom fonts
-------------------------------------------------------------- */
@font-face {
	font-family: 'Asap';
	src:url('../fonts/asap-regular.ttf') format('truetype'),
		url('../fonts/asap-regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Asap';
	src:url('../fonts/asap-bold.ttf') format('truetype'),
		url('../fonts/asap-bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'ROCKYAOE';
	src:url('../fonts/ROCKYAOE.ttf') format('truetype');
	font-weight: normal;
}