@import 'vars';

.success {
  color: $dsek-green;
}

.error {
  color: $red;
}

.buttons {
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.roomTitle {
  text-align: center;
  margin-top: 0.4em;
}
