@import 'vars';

label {
  display: block;

  :first-child {
    display: inline;
    margin-right: 0.5rem;
  }
}

.inputGroup {
  margin: 1.3rem 0;

  > span {
    display: block;
    margin-bottom: 0.5rem;
  }
}

textarea {
  width: 90%;
}
