@import 'vars';

.controlContainer {
  padding: 2 * $base-padding;
  width: 100%;
  max-width: 60rem;

  select {
    color: $foreground-color-2;
    background: $background-color-2;
    border: 3px solid $background-color-3;
    padding: $base-padding;
    outline: none;
    min-width: 45%;
    max-width: 90%;

    > option {
      padding: $base-padding;
      background: $background-color-3;
      color: $foreground-color-3;
    }

    &:first-of-type {
      border-bottom: none;
      border-radius: 12px 12px 0px 0px;
    }
    &:last-of-type:not(:first-of-type) {
      min-width: 30%;
      float: right;
      border-top: none;
      border-radius: 0px 0px 12px 12px;
    }
  }
  > * {
    &:focus {
      outline-width: 0;
      box-shadow: 0 0 2px 1px $dsek-blue;
    }
  }
}

.fail {
  background: rgba($red, 0.3);
}

.success {
  background: rgba($dsek-green, 0.3);
}

.textField {
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  text-align: center;
  background: $background-color-2;
  line-height: 6rem;
  border-radius: 0px 12px;
  border: 3px solid $background-color-3;

  &:not(:focus) {
    background: rgba($red, 0.3);
  }
}

.shiftDown {
  border-color: $red;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  padding: $base-padding * 2;
  transition: background-color 0.3s ease;

  h1 {
    margin: 0;
  }

  > label {
    margin-bottom: $base-padding;
  }
}

.Feedback {
  height: 10rem;
  text-align: center;
  svg {
    height: 4rem;
    width: 4rem;
  }
  p {
    font-size: 1.5em;
  }
}

.qrRegistration {
  background-color: rgba($background-color-2, 0.9);
  margin: auto;

  max-width: 800px;
  min-width: 250px;
  max-height: 100%;
  min-height: 150px;

  display: grid;
  grid-template-rows: auto 1fr;
  pointer-events: initial;

  > video {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    padding: $base-padding;
  }

  > header {
    // background: rgba($background-color-2, 0.5);
    border-bottom: 2px $foreground-color-1 solid;
    color: $foreground-color-1;
    display: flex;
    justify-content: space-between;

    h2 {
      margin: $base-padding;
      height: 2 * $base-padding;
      line-height: 1;
      font-weight: normal;
      color: $foreground-color-1;
    }

    svg {
      height: 2 * $base-padding;
      width: 2 * $base-padding;
      box-sizing: content-box;
      padding: $base-padding;
      cursor: pointer;
      color: $foreground-color-1;

      &:hover {
        color: $dsek-cerise;
      }
    }
  }
}
