.inputLabel {
  margin: 1rem 0;
  display: block;

  input {
    display: block;
    border: 1px #DDD solid;
    padding: .5rem;
    width: 100%;
  }
}

.submit {
  width: 100%;
}

.error {
  color: red;
  font-size: .8em;
  margin: 1rem 0;
}

.success {
  color: green;
  font-size: .8em;
  margin: 1rem 0;
}