@import 'vars';

.inputLabel {
  margin: 1rem 0;
  display: block;

  input {
    border: 1px #ddd solid;
    padding: 0.5rem;
    &:not([type='checkbox']) {
      display: block;
      width: 100%;
    }
    &[type='checkbox'] {
      margin-left: $base-padding;
    }
  }
}

.error {
  color: red;
  font-size: 0.8em;
  margin: 1rem 0;
}

.success {
  color: green;
  font-size: 0.8em;
  margin: 1rem 0;
}
