@import 'vars';
@import 'mixins';

.button {
  text-decoration: none;
  border: none;
  background-color: $background-color-3;
  color: $foreground-color-3;
  cursor: pointer;
  padding: $base-padding $base-padding * 2;
  margin-bottom: $base-padding;

  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc($base-padding / 2);

  &:hover {
    background-color: $dsek-blue;
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px $dsek-blue;
  }
  &:visited {
    color: $foreground-color-3;
  }
}

.buttonGroup {
  display: grid;
  gap: $base-padding;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: $base-padding 0;
  .button {
    margin-bottom: 0;
  }
}

.iconButton {
  border: none;
  height: 8 * $base-padding;
  width: 8 * $base-padding;
  background-color: $background-color-3;
  color: $foreground-color-3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 calc($base-padding / 2);

  > svg {
    height: 3 * $base-padding;
    width: 3 * $base-padding;
    margin-bottom: calc($base-padding / 2);
  }

  &:hover {
    background-color: $dsek-blue;
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px $dsek-blue;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 30rem));
  grid-gap: $base-padding;
  padding: $base-padding;
  justify-content: center;
  z-index: 10;
  position: relative;

  @include small-mobile-only {
    grid-gap: calc($base-padding / 4);
    padding: 0;
    background: $background-color-2;
    border-bottom: $background-color-3 calc($base-padding / 4) solid;
  }
}

.gridItem {
  background-color: rgba($background-color-2, 0.95);
  padding: $base-padding;
  // z-index: 10;
  backdrop-filter: blur(5px);
}

.gridFullWidth {
  grid-column: 1 / -1;
}

.list {
  margin: 0;
  li {
    display: flex;
    list-style: none;
    background-color: $background-color-3;
  }
}

.listItemColor {
  border-left: calc($base-padding / 2) solid;
}

.listText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc($base-padding / 2) $base-padding;

  h3 {
    margin: 0;
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
    margin: 0;
    color: $foreground-color-1;
  }
}

.listButtons {
  flex-grow: 0;
  display: flex;

  .listButton {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    padding: $base-padding;
    height: 4 * $base-padding;
    color: $foreground-color-3;
    svg {
      width: 2 * $base-padding;
      height: 2 * $base-padding;
    }

    &:hover {
      color: $dsek-cerise;
      cursor: pointer;
    }
    &:focus {
      outline: none;
      filter: drop-shadow(0 0 2px $dsek-blue);
    }
  }
}

// TODO: use our variables
.switchy {
  display: flex;
  flex-direction: row;

  .slider {
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    border-radius: 15px;
    cursor: pointer;
  }

  .blob {
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 15px gray;
    top: -2px;
  }

  p {
    margin-left: 1%;
  }
}

.titleChooser {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: $base-padding;

  > * {
    max-width: 30rem;
  }

  h1 {
    margin: 0;
  }
  .actions {
    display: flex;
    width: 100%;
    align-items: center;
    gap: $base-padding;
  }
  .selectContainer {
    position: relative;
    flex-grow: 1;
  }
  select {
    // padding: 0 0.5 * $base-padding;
    height: 100%;
    width: 100%;
    background: $background-color-3;
    min-width: 200px;
    outline: none;
    border: 1px solid $background-color-4;
    font-size: 1.25em;
    min-height: 3 * $base-padding;
    color: $foreground-color-3;
    padding-left: $base-padding;

    &:focus {
      border: 1px solid $dsek-blue;
    }

    > option,
    > optgroup {
      padding: $base-padding;
      background: $background-color-3;
      color: $foreground-color-3;
    }
  }
  .hint {
    user-select: none;
    color: $foreground-color-4;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: $base-padding * 1.5;
    padding: $base-padding 2 * $base-padding;
    background-color: $dsek-blue;
    box-shadow: $box-shadow-default;

    &::after {
      position: absolute;
      top: -1.5 * $base-padding;
      right: 2 * $base-padding;
      content: '';
      border-left: $base-padding solid transparent;
      border-right: $base-padding solid transparent;
      border-bottom: 1.5 * $base-padding solid $dsek-blue;
    }
  }
}

.Ppattern {
  height: 100%;
  display: block;
  width: 100%;
}

.imageHeader {
  margin: -$base-padding;
  margin-bottom: $base-padding;
  position: relative;
  height: 12rem;

  h2 {
    position: absolute;
    bottom: 0;
    margin: $base-padding;
    color: $foreground-color-4;
  }

  .Image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
  }

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 30%);
  }
}
