@import 'vars';

.button {
  text-decoration: none;
  border: none;
  background-color: $dark-gray;
  color: $white;
  cursor: pointer;
  padding: $base-padding $base-padding * 2;

  &:hover {
    background-color: $dsek-blue;
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px $dsek-blue;
  }
}
.iconButton {
  border: none;
  height: 8 * $base-padding;
  width: 8 * $base-padding;
  background-color: $dark-gray;
  color: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin: 0 $base-padding / 2;

  > svg {
    height: 3 * $base-padding;
    width: 3 * $base-padding;
    margin-bottom: $base-padding / 2;
  }

  &:hover {
    background-color: $dsek-blue;
  }

  &:focus {
    outline-width: 0;
    box-shadow: 0 0 2px 2px $dsek-blue;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 30rem));
  grid-gap: $base-padding;
  padding: $base-padding;
  justify-content: center;
  align-content: center;
  min-height: 100%;
}

.gridItem {
  background-color: rgba(255, 255, 255, 0.95);
  padding: $base-padding;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.list {
  margin: 0;
  li {
    display: flex;
    list-style: none;
    background-color: $very-light-gray;
  }
}

.listText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $base-padding;

  h3 {
    margin: 0;
    font-size: 1rem;
  }
}

.listButtons {
  flex-grow: 0;
  display: flex;

  button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    padding: $base-padding;
    height: 4 * $base-padding;
    svg {
      width: 2 * $base-padding;
      height: 2 * $base-padding;
    }

    &:hover {
      color: $dsek-cerise;
      cursor: pointer;
    }
    &:focus {
      outline: none;
      filter: drop-shadow(0 0 2px $dsek-blue);
    }
  }
}

.switch {
  display: flex;
  flex-direction: row;

  .slider {
    position: relative;
    display: block;
    width: 40px;
    height: 18px;
    border-radius: 15px;
    cursor: pointer;
  }

  .blob {
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 15px gray;
    top: -2px;
  }

  p {
    margin-left: 1%;
  }
}
