@import 'vars';

.votesContainer {
  display: flex;
  gap: $base-padding;
  flex-wrap: wrap;
  justify-content: center;
}

.voteInput {
  /* hide the radio button */
  /* https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css */
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.voteLabel {
  text-align: center;
  font-size: 1.2em;
  padding: $base-padding calc($base-padding / 2);
  background-color: $background-color-4;
  cursor: pointer;

  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;

  min-width: 100%;
  
  @media screen and (min-width: 996px) {
    min-width: 30%;
  }

  &:hover {
    background-color: $dsek-blue;
  }

  &:has(.voteInput:checked) {
    background-color: $dsek-green !important;
    color: $background-color-2;
    font-weight: 800;
  }
}

.placeVoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $base-padding;
}

.questionHeader {
  text-align: center;
}
