@import 'vars';

.window {
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  border-style: solid;
  border-color: $background-color-3;
  border-width: 1.5px;

  box-shadow: $box-shadow-raised;
}

.windowTitleBar {
  background-color: $background-color-3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 0.5em;
  padding-right: 0.5em;

  min-height: 2em;
}

.windowControls {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.windowControl {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $background-color-4;

  margin-left: 0.5em;
}

.windowContent {
  position: relative;
}
